@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color-link: #f800cbd6;
    --color-bg-link: #f800cb79;
    --color-link-hover: #570047;
    --color-shadow-border: #f800cb56;
    --color-bg-input-hover: #ff00d06e;
    --color-btn: #f800cb1e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img, svg, video{
	max-width: 100%;
	display: inline-block;
}

a{
    text-decoration: none;
    color: var(--color-link); 
}

a:hover{
    background-color: var(--color-bg-link);
    color: var(--color-link-hover) ;
}

li{
    list-style: none;
}

.btn{
    background-color: var(--color-bg-link)
}

/* HEADER */

header div.envio{
    background-color: var(--color-link);
    text-align: center;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav a.logo{
    width: 30%;
}

header nav div.dropdown{
    margin-right: 5%;
}

/* MAIN */

main section h2{
    text-align: center;
}

main section div.carousel{
    width: 90%;
    margin: auto;
}

main section div.carousel div.carousel-inner div.carousel-item div.card a{
    width: 100%;
}

main section a.btn{
    width: 90%;
    margin: 2% auto;
    display: flex;
    justify-content: center;
}

footer nav section {
    display: flex;
}

footer nav section.redes-by{
    flex-direction: column;
}

footer nav section div.redes{
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;
}

footer nav section div.redes img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}

footer nav section div.by h4{
    text-align: center;
    font-size: 10px;
    margin: 15px 0;
}

footer nav section.menu-logo{
    justify-content: space-between;
}

footer nav section ul{
    padding: 10px;
}

footer nav section ul li{
    font-size: 13px;
}

footer nav section a.logo{
    width: 30%;
}