/* FOOTER */

footer nav section {
    display: flex;
}

footer nav section.redes-by{
    flex-direction: column;
}

footer nav section div.redes{
    padding: 0 20%;
    display: flex;
    justify-content: space-evenly;
}

footer nav section div.redes img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}

footer nav section div.by h4{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
}

footer nav section.menu-logo{
    justify-content: space-between;
}

footer nav section ul{
    padding: 10px;
}

footer nav section ul li{
    font-size: 13px;
}

footer nav section a.logo{
    width: 30%;
}